.sc-staking-StakingCard {
  box-shadow: 0 2px 36px -6px rgba(91, 91, 91, 0.5);
  border-radius: 15px;
  padding: 30px 45px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  color: #414141;
  margin-bottom: 50px;

  &__content {
    flex: 2;
    max-width: 350px;

    p {
      line-height: 25px;
      max-width: 280px;
    }
  }

  &__image {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      width: 90px;
      height: 90px;
      object-fit: contain;
    }
  }

  .sc-staking-Button {
    margin-top: auto;
    margin-top: 20px;
  }

  &--xmoon {
    border: 5px dashed #feca38;
    box-shadow: none;
  }
}
