.sc-staking-Button {
  &__button {
    padding: 15px 25px;
    background-image: linear-gradient(
      -46deg,
      rgba(255, 255, 255, 0.5) 0%,
      #ffbc00 0%,
      #fbda7d 100%
    );
    box-shadow: 0 2px 12px 3px rgba(117, 117, 117, 0.25);
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 100;
    border: none;
    font-weight: 600;
    font-size: 14px;

    &:focus {
      outline: 0;
    }

    &:before {
      border-radius: inherit;
      background-image: linear-gradient(
        -46deg,
        rgba(255, 255, 255, 0.5) 0%,
        #ff9c00 0%,
        #ffc726 100%
      );
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      z-index: -100;
      transition: opacity 0.45s;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  &--disabled {
    .sc-staking-Button {
      &__button {
        background-image: linear-gradient(
          -46deg,
          #8f8f8f 0%,
          #d7d7d7 100%
        ) !important;
        color: #4c4c4c !important;
        cursor: not-allowed !important;
        box-shadow: 0 2px 12px 3px rgba(117, 117, 117, 0.36);

        &:hover {
          &:before {
            opacity: 0;
          }
        }
      }
    }
  }
}
